{% extends 'blog/base.html'%}
{%block title%}{{object.title}}{%endblock%}
{% block content%}
<div id="fb-root"></div>
<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=237828836891432&autoLogAppEvents=1"></script>
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{object.author.profile.image.url}}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ object.author }}</a>
      <small class="text-muted">{{object.date_posted }}</small>
      {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
    </div>
    <h2 class="article-title">{{ object.title }}</h2>
    <p class="article-content">{{ object.content }}</p>
  </div>
</article>
<div class="fb-comments" data-href="https://www.facebook.com/daggy.ooks" data-numposts="5"></div>
{%endblock content%}